.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: calc(50vh - 20px);
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.random{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.number{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  padding-top: 4px;
  box-sizing: border-box;
  text-align: center;
  width: 121px;
  height: 44px;
  text-align: center;
  background: #E1E7EB;
  border-radius: 4px;
  color: #000000;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
